@model AspCoreTest.Dtos.Dtos.PersonDto;

@{
    ViewData["Title"] = "AddOrEdit";
}

<addoredit-modalform id="modalId" form-id="formId" ok-text="Tamam" cancel-text="Vazgeç" header-title="Person" header-smalltitle="Person info">
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="EncryptedId" value="@if ( Model != null){ @Html.Raw(Model.EncryptedId) }" />

    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-4"></label>
            <div class="col-md-6">
                <input asp-for="Name" id="Name" class="form-control " />
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="Surname" class="control-label col-md-4"></label>
            <div class="col-md-6">
                <input asp-for="Surname" id="Surname" class="form-control" />
            </div>
        </div>
    </div>
</addoredit-modalform>

