@using AspCoreTest.Dtos.Dtos

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        @(Html.DataTableHelper<PersonDto>("persontable")
             .LoadAction("/Home/LoadTable")
              .Columns(column =>
              {
                  column.CheckColumn(p => p.EncryptedId).CheckAllEnabled();
                  column.BoundColumn(p => p.EncryptedId).Title("ID").IsPrimaryKey(true);
                  column.BoundColumn(p => p.Name).Title("Name").Searchable(Operation.StartsWith);
                  column.BoundColumn(p => p.Surname).Title("Surname").Searchable(Operation.StartsWith);
                  column.ActionColumn().Title("Actions").Actions(action =>
                  {
                      action.ActionButton()
                          .Hidden(t=>t.PersonStatus,PersonStatus.Open)
                          .Text("Edit")
                          .CssClass("btn btn-sm green btn-outline filter-submit margin-bottom green-haze")
                          .IClass("fa fa-edit")
                          .ActionInfo(new ActionInfo {actionUrl = "/Home/AddOrEdit", methodType = EnumHttpMethod.GET});

                      action.ActionButton()
                          .Visible(true)
                          .Text("Delete")
                          .CssClass("btn btn-sm red btn-outline filter-submit margin-bottom red-haze")
                          .IClass("fa fa-trash-o").ActionInfo(new ActionInfo())
                          .AddHref(Url.Action("Add", "Home"),"fileUrl");

                  });
              })
              .RowCssConditions(condition =>
              {
                  condition.AddRowCss(p => p.Name, "Bilal", "red");
              })
             .ToolBarActions(action =>
             {
                 action.ModalActionButton()
                       .FormSide(EnumFormSide.LetfSide)
                       .Text("Add New Person")
                       .Modal(EnumModalSize.Default)
                       .BackDropStatic()
                       .CssClass("btn btn-sm red btn-outline filter-submit margin-bottom red-haze")
                       .IClass("fa fa-plus")
                       .ActionInfo(new ActionInfo { actionUrl = "/Home/AddOrEdit/-1", methodType = EnumHttpMethod.GET })
                       .BlockUI();
             },
            new TableExportSetting("Tools", "btn red btn-outline", false, true, true, true, EnumFormSide.RightSide))
            .Portlet("Person Table", System.Drawing.Color.Red, "fa fa-cogs")
            .CssClass("table table-striped table-hover table-bordered  dataTable no-footer")
            .StateSave(true)
            .PagingType(EnumPagingType.bootstrap_number)
            )

    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            //  var persontable = DataTableFunc.initDataTable('persontable');
            var dt = Entity.Init('Home', 'formId', 'persontable', 'EncryptedId', '.entitysubmit', 'Success!', 'Error');

            $(".btnEdit").on("click", function() {
                var id = $(this).data("id");
                alert(id);
            });

            $('#persontable tbody').on('click', '.btnEdit', function (e) {
                var id = $(this).data('id');
                alert(id);
            });
        });
    </script>
}